https://ethnet.zaidan.io {
    tls {
        dns cloudflare
    }

    errors {
        404 /etc/404
        500 /etc/500
        * /etc/GENERR
    }

    ###########
    # MAINNET #
    ###########

    proxy /mainnet mainnet-1:8545 mainnet-2:8545 mainnet-3:8545 mainnet-4:8545 {
        without /mainnet

        policy round_robin

        health_check /
        health_check_port 3000
        health_check_timeout 10s
    }

    proxy /ws/mainnet mainnet-1:8546 mainnet-2:8546 mainnet-3:8546 mainnet-4:8546 {
        websocket

        policy round_robin

        health_check /
        health_check_port 3000
        health_check_timeout 10s
    }

    ###########
    # ROPSTEN #
    ###########

    proxy /ropsten ropsten-1:8545 ropsten-2:8545 ropsten-3:8545 ropsten-4:8545 {
        without /ropsten

        policy round_robin

        health_check /
        health_check_port 3000
        health_check_timeout 10s
    }

    proxy /ws/ropsten ropsten-1:8546 ropsten-2:8546 ropsten-3:8546 ropsten-4:8546 {
        websocket

        policy round_robin

        health_check /
        health_check_port 3000
        health_check_timeout 10s
    }

    #########
    # KOVAN #
    #########

    proxy /kovan kovan-1:8545 kovan-2:8545 {
        without /kovan

        policy round_robin

        health_check /
        health_check_port 3000
        health_check_timeout 10s
    }

    proxy /ws/kovan kovan-1:8546 kovan-2:8546 {
        websocket

        policy round_robin

        health_check /
        health_check_port 3000
        health_check_timeout 10s
    }
}